<html>
    <head>
        <link rel="stylesheet" type = "text/css"href="{{url_for('static',filename ='style.css')}}">
        <script language="javascript">
    
            var charpos = 1
            String.prototype.replaceAt = function(index, replacement) 
            {
            return this.substr(0, index) + replacement + this.substr(index + replacement.length);
            }
            var next = parseInt(window.location.pathname.charAt(charpos)) +1;
            if(next == 5)
            {
                next = 0
            }
            setTimeout(function(){
            
            
            //Construct the current URL.
            var currentURL = window.location.pathname;
            //"Replace" the current URL with the current URL.
            //location.assign(currentUrl)
            window.location.replace(window.location.pathname)
            location.assign(currentURL.replaceAt(charpos,next.toString()))
        
            }, 10000);
            </script>
    </head>
    <body>
        <div class="name">
            
                {{name}}
            
        </div>
        <div class="score"> 
             <table>
                 <tr>
                    <td>Aantal: </td> 
                    <td>{{score}}</td>
                 </tr>
             </table>
        </div>
    </body>
</html>